.checkbox-list {
    display: flex;
    
}

.checkbox-list button {
    position: relative;
    right: 20px;
    top: 2px;
    width:18px;
    height: 18px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color:#e6e6e6;
    box-shadow: 1px 1px 1px #b3b3b3;
    transition: width 100ms, height 100ms;
}
.checkbox-list button:hover {
    width:19px;
    height: 19px;
    box-shadow: 1px 1px 1px #808080;
}
.checkbox-list button img {
    position: absolute;
    left:0;
    top:0;
    height:110%;
    width:110%;
}
