@media (pointer: none), (pointer: coarse) {
    .home-container {
        position: absolute;
        left:0;
        top:0;
    }
    .home-info {
        background-color: #39414E;
        box-shadow: -3px 3px 5px darkgray;
        border: none;
        color: #EEEEEE;
        padding:20px;
        font-size: 1em;
    }

    .home-info h1 {
        border-bottom: 1px solid #EEEEEE;
        font-family: Segoe Script;
        font-weight: normal;
        font-size:1.3em;
    }

    .home-info p {
        margin-top: 10px;
    }

    .home-btns {
        
    }

    .home-btns button {
        width:100%;
        background-color: #4C5563;
        border: none;
        padding:17px;
        margin-bottom:0;
        box-shadow: -2px 2px 3px darkgray;
        color: #EEEEEE;
        font-size: 20px;
        height: 5em;
    }
}