.home-info {
    background-color: #39414E;
    position: absolute;
    left: 25%;
    top:28%;    
    width:35%;
    height: 45%;
    box-shadow: -3px 3px 5px darkgray;
    border: none;
    color: #EEEEEE;
    padding:1%;
}

.home-info h1 {
    border-bottom: 1px solid #EEEEEE;
    font-family: Segoe Script;
    font-weight: normal;
}

.home-info p {
    margin-top: 10px;
    font-size: 20px;
}

.home-btns {
    position: absolute;
    left: 63%;
    top: 28%;
    width:200px;
}

.home-btns button {
    width:100%;
    background-color: #4C5563;
    border: none;
    padding:17px;
    margin-bottom:10px;
    cursor: pointer;
    box-shadow: -2px 2px 3px darkgray;
    color: #EEEEEE;
    font-size: 20px;
    transition: width 200ms;
}

.home-btns button:hover {
    background-color: #3F4753;
    width:110%
}