.board-btns-add {
    position: fixed;
    background-color: #222831;
    right:10px;
    bottom:10px;
    padding:10px;
    width:2%;
    cursor: pointer;
    box-shadow: 3px 3px 5px darkgray;
    transition: width 100ms, box-shadow 100ms;
}
.board-btns-add:hover {
    background-color: #12283f;
    box-shadow: 5px 5px 5px darkgray;
    width:2.5%;
}

.board-btns-save {
    position: fixed;
    background-color: #222831;
    left:10px;
    bottom:10px;
    padding:10px;
    width:2%;
    cursor: pointer;
    box-shadow: -3px 3px 5px darkgray;
    transition: width 100ms, box-shadow 100ms;
}
.board-btns-save:hover {
    background-color: #12283f;
    box-shadow: -5px 5px 5px darkgray;
    width:2.5%;
}