.notes-container {
    width: 98%;
    position: absolute;
    top: 70px;
    left: 1%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-bottom: 500px;
}

.notes-note {
    background-color: white;
    align-self: flex-start;
    margin:10px;
    padding:10px;
    min-width: 100px;
    min-height: 100px;
    box-shadow: -3px 3px 3px darkgray;
    position: relative;
}

.notes-note-rsbtns .rsbtn-off {
    width: 13px;
    height: 13px;
    padding:5px;
    border: 1px solid lightgrey;
    position: relative;
    margin-right:3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px grey;
}
.notes-note-rsbtns .rsbtn-on {
    width: 13px;
    height: 13px;
    padding:5px;
    border: 1px solid grey;
    position: relative;
    margin-right:3px;
    cursor: pointer;
    background-color: #eeeeee;
}

.notes-note-rsbtns .rsbtn-off:hover  {
    box-shadow: 2px 2px 1px grey;
}

.notes-note-movebtns img {
    position: absolute;
    width:20px;
    right: 5px;
    cursor: pointer;
    transition: width 100ms;
}
.notes-note-movebtns img[name='up'] {
    bottom: 70px;
}
.notes-note-movebtns img[name='down'] {
    transform: rotate(180deg);
    bottom: 40px;
}
.notes-note-movebtns img:hover {
    width:23px;
}
.notes-note-delete {
    width:20px;
    position: absolute;
    right:5px;
    bottom:5px;
    cursor: pointer;
    transition: width 100ms;
}
.notes-note-delete:hover {
    width:25px;
}

.notes-note-li {
    font-size: 90%;
    margin-left:20px;
    margin-top:5px;
    margin-bottom:5px;
}
